<footer id="footer">
	<div class="wrap">
		<h4>Questions or Feedback about this App?</h4>
		<p>Please contact our team at hello@bestdayever.com and we'll be happy to help you out.</p>
		<p class="copyright">All Content Copyright 2017 Best Day Ever. All Rights Reserved.</p>
	</div>
</footer>