<% title 'Edit this Challenge' %>

<div id="content">
	<div class="wrap">

		<h2>Edit the <%= @challenge.name %> Challenge</h2>

		<%= render 'form', challenge: @challenge %>

		<%= link_to 'Back', challenges_path %> | 
		<%= link_to "Delete", challenge_path(@challenge), method: :delete, data: { confirm: 'Are you certain you want to delete this?' } %>

	</div>
</div>