<% title 'Challenges' %>

<div id="content">
<div class="wrap">

  <h2>Challenges</h2>

  <a href="/challenges/new" class="btn">Create a Challenge</a>

  <ul id="challenges">
    <% @challenges.each do |challenge| %>
      <li>
        <h4><%= link_to challenge.name, edit_challenge_path(challenge) %></h4>
      </li>
    <% end %>
  </ul>

</div>
</div>