<% title 'Challenges' %>

<div id="content">
<div class="wrap">

  <h2>Challenges</h2>

  <a href="/challenges/new" class="btn">Create a Challenge</a>

  <ul id="challenges">
    <% @challenges.each do |challenge| %>
      <li>
        <h4><%= link_to challenge.name, challenge_path(challenge) %>
        	<% if can? :edit, Challenge %>
        		<span class="note"><%= link_to 'Edit', edit_challenge_path(challenge) %></span>
        	<% end %>
        </h4>
      </li>
    <% end %>
  </ul>

</div>
</div>