<% title 'Create a Challenge' %>

<div id="content">
	<div class="wrap">

		<h2>Create a Challenge</h2>

		<%= render 'form', challenge: @challenge %>

		<%= link_to 'Back', challenges_path %>

	</div>
</div>