<% title 'Add Points' %>

<div id="content">
	<div class="wrap">

		<%= render 'form', datapoint: @datapoint %>

		<%= link_to 'Show', @datapoint %> |
		<%= link_to 'Back', datapoints_path %>

	</div>
</div>
