<% title 'Add Points' %>

<div id="content">
	<div class="wrap">

	<h2>Day <%= @datapoint.day %></h2>
	<h4><%= @datapoint.date.strftime("%a %b %d") %></h4>

		<%= render 'form', datapoint: @datapoint %>

	</div>
</div>
