.wrap {
  width: 84%;
  // max-width: 1400px;
  margin: 0 auto;
  position: relative;
}
.wrap90 {
  @extend .wrap;
  width: 90% !important;
}
.wrap95 {
  @extend .wrap;
  width: 95% !important;
}

.inner-wrap {
  padding: 2em 0;
  position: relative;
}

.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}

.push-left {
  float: left !important;
  padding-left: 0 !important;
  
}
.push-right {
  float: right !important;
  padding-right: 0 !important;
  
}

@mixin grid-col {
  float: left;
  padding: 0 0.75em;
}

.cf > *:first-child {
  padding-left: 0;
}
.cf > *:last-child {
  padding-right: 0;
}

/* Mobile Grid Styles */
@media (max-width: 767px) {
  .m-all {
    @include grid-col;
    width: 100%;
    padding: 0;
  }

  .m-none {
    display: none;
  }

  .m-1of2 {
    @include grid-col;
    width: 50%;
  }

  .m-1of3 {
    @include grid-col;
    width: 33.33%;
  }

  .m-2of3 {
    @include grid-col;
    width: 66.66%;
  }

  .m-1of4 {
    @include grid-col;
    width: 25%;
  }

  .m-3of4 {
    @include grid-col;
    width: 75%;
  }

  /* CSS3 Columns */
  .m-2col {
    -moz-column-count: 2;
    -moz-column-gap: 1.5em;
    -webkit-column-count: 2;
    -webkit-column-gap: 1.5em;
    column-count: 2;
    column-gap: 1.5em;
  }

  .m-3col {
    -moz-column-count: 3;
    -moz-column-gap: 1.25em;
    -webkit-column-count: 3;
    -webkit-column-gap: 1.25em;
    column-count: 3;
    column-gap: 1.25em;
  }

  .m-4col {
    -moz-column-count: 4;
    -moz-column-gap: 1em;
    -webkit-column-count: 4;
    -webkit-column-gap: 1em;
    column-count: 4;
    column-gap: 1em;
  }

  /* Column Padding */
  .m-pad-sm {
    padding-left: 0.5em !important;
    padding-right: 0.5em !important;
  }

  .m-pad-md {
    padding-left: 1em !important;
    padding-right: 1em !important;
  }

  .m-pad-lg {
    padding-left: 2em !important;
    padding-right: 2em !important;
  }

  /* Alignment */
  .m-left {text-align: left;}
  .m-middle {text-align: center;}
  .m-right {text-align: right;}

  /* Display */
  .m-block {display: block;}
  .m-inline {display: inline;}

  /* Text Align */
  .m-left {text-align: left;}
  .m-center {text-align: center;}
  .m-right {text-align: right;}

} // end mobile

/* Portrait tablet to landscape */
@media (min-width: 768px) and (max-width: 1023px) {

  .t-all {
    @include grid-col;
    width: 100%;
    padding-right: 0;
  }

  .t-1of2 {
    @include grid-col;
    width: 50%;
  }

  .t-1of3 {
    @include grid-col;
    width: 33.33%;
  }

  .t-2of3 {
    @include grid-col;
    width: 66.66%;
  }

  .t-1of4 {
    @include grid-col;
    width: 25%;
  }

  .t-3of4 {
    @include grid-col;
    width: 75%;
  }

  .t-1of5 {
    @include grid-col;
    width: 20%;
  }

  .t-2of5 {
    @include grid-col;
    width: 40%;
  }

  .t-3of5 {
    @include grid-col;
    width: 60%;
  }

  .t-4of5 {
    @include grid-col;
    width: 80%;
  }

  /* CSS3 Columns */
  .t-2col {
    -moz-column-count: 2;
    -moz-column-gap: 1.5em;
    -webkit-column-count: 2;
    -webkit-column-gap: 1.5em;
    column-count: 2;
    column-gap: 1.5em;
  }

  .t-3col {
    -moz-column-count: 3;
    -moz-column-gap: 1.25em;
    -webkit-column-count: 3;
    -webkit-column-gap: 1.25em;
    column-count: 3;
    column-gap: 1.25em;
  }

  .t-4col {
    -moz-column-count: 4;
    -moz-column-gap: 1em;
    -webkit-column-count: 4;
    -webkit-column-gap: 1em;
    column-count: 4;
    column-gap: 1em;
  }

  .t-0col {
    -moz-column-count: none;
    -moz-column-gap: none;
    -webkit-column-count: none;
    -webkit-column-gap: none;
    column-count: none;
    column-gap: none; 
  }

  /* Column Padding */
  .t-pad-sm {
    padding-left: 1em !important;
    padding-right: 1em !important;
  }

  .t-pad-md {
    padding-left: 3em !important;
    padding-right: 3em !important;
    padding: 1.5em 3em !important;
  }

  .t-pad-lg {
    padding-left: 5em !important;
    padding-right: 5em !important;
  }

  /* Alignment */
  .t-left {text-align: left;}
  .t-middle {text-align: center;}
  .t-right {text-align: right;}

  /* Display */
  .t-block {display: block;}
  .t-inline {display: inline;}

  /* Text Align */
  .t-left {text-align: left;}
  .t-center {text-align: center;}
  .t-right {text-align: right;}

} // end tablet

/* Landscape to small desktop */
@media (min-width: 1024px) {

  .d-all  {
    @include grid-col;
    width: 100%;
    padding-right: 0;
  }

  .d-1of2 {
    @include grid-col;
    width: 50%;
  }

  .d-1of3 {
    @include grid-col;
    width: 33.33%;
  }

  .d-2of3 {
    @include grid-col;
    width: 66.66%;
  }

  .d-1of4 {
    @include grid-col;
    width: 25%;
  }

  .d-3of4 {
    @include grid-col;
    width: 75%;
  }

  .d-1of5 {
    @include grid-col;
    width: 20%;
  }

  .d-2of5 {
    @include grid-col;
    width: 40%;
  }

  .d-3of5 {
    @include grid-col;
    width: 60%;
  }

  .d-4of5 {
    @include grid-col;
    width: 80%;
  }

  .d-1of6 {
    @include grid-col;
    width: 16.6666666667%;
  }

  .d-5of6 {
    @include grid-col;
    width: 83.333333333%;
  }

  .d-1of7 {
    @include grid-col;
    width: 14.2857142857%;
  }

  .d-2of7 {
    @include grid-col;
    width: 28.5714286%;
  }

  .d-3of7 {
    @include grid-col;
    width: 42.8571429%;
  }

  .d-4of7 {
    @include grid-col;
    width: 57.1428572%;
  }

  .d-5of7 {
    @include grid-col;
    width: 71.4285715%;
  }

  .d-6of7 {
    @include grid-col;
    width: 85.7142857%;
  }

  .d-1of8 {
    @include grid-col;
    width: 12.5%;
  }

  .d-1of9 {
    @include grid-col;
    width: 11.1111111111%;
  }

  .d-1of10 {
    @include grid-col;
    width: 10%;
  }

  .d-1of11 {
    @include grid-col;
    width: 9.09090909091%;
  }

  .d-1of12 {
    @include grid-col;
    width: 8.33%;
  }

  /* CSS3 Columns */
  .d-2col {
    -moz-column-count: 2;
    -moz-column-gap: 2em;
    -webkit-column-count: 2;
    -webkit-column-gap: 2em;
    column-count: 2;
    column-gap: 2em;
  }

  .d-3col {
    -moz-column-count: 3;
    -moz-column-gap: 2em;
    -webkit-column-count: 3;
    -webkit-column-gap: 2em;
    column-count: 3;
    column-gap: 2em;
  }

  .d-4col {
    -moz-column-count: 4;
    -moz-column-gap: 1.5em;
    -webkit-column-count: 4;
    -webkit-column-gap: 1.5em;
    column-count: 4;
    column-gap: 1.5em;
  }

  .d-6col {
    -moz-column-count: 6;
    -moz-column-gap: 1em;
    -webkit-column-count: 6;
    -webkit-column-gap: 1em;
    column-count: 6;
    column-gap: 1em;
  }

  .d-0col {
    -moz-column-count: none;
    -moz-column-gap: none;
    -webkit-column-count: none;
    -webkit-column-gap: none;
    column-count: none;
    column-gap: none; 
  }

  /* Column Padding */
  .d-pad-sm {
    padding-left: 2em !important;
    padding-right: 2em !important;
  }

  .d-pad-md {
    padding-left: 5em !important;
    padding-right: 5em !important;
  }

  .d-pad-lg {
    padding-left: 8em !important;
    padding-right: 8em !important;
  }

  /* Alignment */
  .d-left {text-align: left;}
  .d-middle {text-align: center;}
  .d-right {text-align: right;}

  /* Display */
  .d-block {display: block;}
  .d-inline {display: inline;}

  /* Text Align */
  .d-left {text-align: left;}
  .d-center {text-align: center;}
  .d-right {text-align: right;}

} // end desktop styles