<h4>Thanks for signing up <%= @email %>!</h4>

<p>You can confirm your account email by clicking the link below:</p>

<p><%= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token) %></p>
