<% title 'Dashboard' %>

<div id="content" class="home">
	<div class="wrap">
	
	<h2>Weclome to the Best Day Ever<br/> Progress Tracking App!</h2>
	<h4>Existing Users</h4>
	<p>If you have already purchased a challenge and would like to use this app, please <a href="/users/sign_in">log in</a> or <a href="/users/sign_up">sign up</a>. Note: This is different than the account you created to purchase your challenge, as the app is running on a different system.
	<h4>New Users</h4>
	<p>If you are interested in participating in a challenge, you can join one over at our Challenge Store</p>

	<a class="btn" href="/users/sign_in">log in</a> <a class="btn" href="/users/sign_up">sign up</a>

	</div>
</div>