<% title 'Thanks' %>

<div id="content">
	<div class="wrap800 text-center">

		<h2>Thanks for Signing Up!</h2>
		<p class="note">If you don't see the confirmation email, please check your spam folder. If you need more help, contact us at hello@bestdayever.com and we'll sort things out.</p>

		<h4>Need to Purchase a Challenge?</h4>
		<p>If you have not yet purchased a challenge, you can do so here:</p>
		<a href="http://bestdayever.com/collections/challenge-store" target="new" class="btn">Purchase Challenge</a>

	</div>
</div>